body
{
    background: rgb(221, 245, 199);
}

h1
{
    letter-spacing:50px;
    font-family:'钉钉进步体';
    font-size: 150px;
    color: rgb(235, 39, 39);
    text-align: center;
}
h2
{
    letter-spacing:15px;
    font-family:'江城圆体';
    font-size: 50px;
    color: rgb(233, 96, 62);
    text-align: center;
}

a
{
    text-decoration: none;
}
button
{
    background-color: rgb(221, 245, 199);
    font-family:'江城圆体';
    border: 2px solid #e6d923;
    border-radius: 12px;
    color: black;
    margin: 0 auto;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 24px;
    
}
button:hover
{
    background-color: #e6d923;
    font-family:'江城圆体';
    border-radius: 12px;
    color: black;
    margin: 0 auto;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 24px;
}